/**
 * Rate Component Style for tingle
 * @author quanyun
 *
 * Copyright 2014-2015, Tingle Team, Alinw.
 * All rights reserved.
 */

// tingle-style's utils
@require '../node_modules/tingle-style/src/var'

//.tRate

.tRateItem
    float left
    width 30px
    height @width
    text-align center
    overflow hidden
    svg
        width 100%
        height 100%
        fill #aaa
    &.active svg
        fill #fec02f

