/**
 * Rate Component Style for tingle
 * @author quanyun
 *
 * Copyright 2014-2015, Tingle Team, Alinw.
 * All rights reserved.
 */

// tingle-style's utils
@require '../node_modules/tingle-style/src/var'

//.tRate
.tRateItem
    width 30px
    height @width
    text-align center
    overflow hidden
    -webkit-box-sizing: content-box
    -moz-box-sizing: content-box
    box-sizing: content-box
    &:first-child
        padding-left 0 !important
    &:last-child
        padding-right 0 !important
    svg
        width 100%
        height 100%
        fill #dbdbdb
    &.active svg
        fill #ff8800

.tRateItemMask
    width 100%
    height 100%
    left 0
    top 0
    right 0
    bottom 0
    z-index 10
    background-color transparent
